# Data Science Tools and Ecosystem

# Introduction

In this notebook, Data Science Tools, popular languajes and practice and a sample of how to join Jupyter.

**Objetives:**
* Remember the popular languages for data science.
* Remember libraries used by Data Scientists.
* Practise arithmetic expressions

Some of the popular languages for data science are:

1. Python
2. R
3. SQL
4. Scala
5. Java
6. C++
7. Julia

Some of the commonly used Python libraries used by Data Scientists are:
 * Python
 * Pandas
 * NumPy
 * SciPy
 * Matplotlib

| Data Science Tools | 
|:--------:|
|  Postgres   |
|  Apache Cassandra   |
|  Git Hub   |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author

Gustavo Espa√±a